kubernetes-k8s-ctrl-1.yaml
kubernetes-k8s-ctrl-2.yaml
kubernetes-k8s-ctrl-3.yaml
kubernetes-k8s-work-1.yaml
kubernetes-k8s-work-2.yaml
kubernetes-k8s-work-3.yaml
kubernetes-k8s-work-4.yaml
kubernetes-k8s-work-5.yaml
kubernetes-k8s-work-6.yaml
kubernetes-k8s-work-7.yaml
kubernetes-k8s-work-8.yaml
kubernetes-k8s-work-9.yaml
kubernetes-k8s-work-10.yaml
kubernetes-k8s-work-11.yaml
kubernetes-k8s-work-12.yaml
talosconfig
kubernetes-k8s-work-13.yaml
kubernetes-k8s-work-14.yaml
kubernetes-k8s-work-15.yaml
kubernetes-k8s-work-16.yaml
