---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: cloudflare-tunnel
  labels:
    k8s-gateway.dns/ignore: "true"
spec:
  endpoints:
    - dnsName: "external.${SECRET_DOMAIN}"
      recordType: CNAME
      targets: ["#{ cloudflare_tunnel_id() }#.cfargotunnel.com"]
